:root {
  --body-width: 960px;
  --body-height: 720px;
}
body {
	font-family: 'Arial', sans-serif;
	padding: 0;
	margin: 0;
	height: 100vh;
	background-color: #f0f0f0;
  user-select: none;
}
main hr {
  width: 80%;
  margin: 20px auto;
}
.container {
	width: var(--body-width);
	height: var(--body-height);
	background: url('assets/miqs.webp') no-repeat center center;
	background-size: cover;
	overflow: hidden;
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(calc((100vw - var(--body-width)) / 2), calc((100vh - var(--body-height)) / 2));
}
/* Note: Using Magic Number. [Can not Replace with CSS Variable]
 * 960 is content panel width.
 */
@media (width > 960px) {
  .container {
    border-radius: 10px;
  }
}
.container::before {
	content: "";
  background: rgba(255, 255, 255, 0.8);
	
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.row-container {
  display: flex;
  align-items: center;
}
.hide {
  display:none !important;
}
.tool-tip {
  position: relative;
}
.tool-tip:hover::after {
  position: absolute;
  content: attr(data-tooltip);
  display: block;
  padding: 2px;
  background: #fff;
  border: 1px solid #000;
  font-size: 0.8em;
  color: #000;
  top: 30px;
  left: 1em;
}
main .row-container {
  margin: auto;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
header {
	background: linear-gradient(90deg, rgba(58, 123, 213, 1) 0%, rgba(58, 213, 174, 1) 100%);
	padding: 10px;
	text-align: center;
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
footer {
  display: none;
  background: #ddd;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container .logo {
	width: 40px;
	height: 30px;
	margin-right: 10px;
}

header h1 {
	margin: 0;
	font-size: 1.4em;
}

.content-card {
	background: rgba(255, 255, 255, 0.9);
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 10px;
}

h2 {
	font-size: 1.3em;
	text-align: center;
	margin-top: 15px;
}

h3 {
	font-size: 1.1em;
	text-align: center;
	margin-top: 15px;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 10px;
	display: block;
	margin: 10px auto;
	transition: background-color 0.3s;
}
/* button#sendButton {
  background-color: #333;
} */
.send-btn {
	background-color: #1d5ea8;
	cursor: not-allowed;
}

button:hover {
	opacity: 0.8;
}

textarea {
	display: block;
	max-width: 90%;
	width: 90%;
	height: 60px;
	margin: 10px auto;
	padding: 10px;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow-y: auto;
	font-family: monospace;
	resize: none;
}


#pianoRoll {
	display: block;
	margin: 10px auto;
	width: 90%;
	height: auto;
}

#player {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - 50px);
}

#serialPortInput {
	padding: 10px;
	width: 20em;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1em;
	margin-bottom: 10px;
}
#setSerialPortButton {
  margin: 0;
}
/* #setSerialPortButton {
	background-color: #4CAF50;
	cursor: pointer;
	transition: background-color 0.3s;
}

#setSerialPortButton:hover {
	background-color: #45a049;
}

#disconnectButton {
	background-color: #f44336;
	cursor: pointer;
	transition: background-color 0.3s;
}

#disconnectButton:hover {
	background-color: #e31b0c;
} */

#playerStateDisplay {
  width: 60%;
  margin: auto;
}

#playerStateDisplay > div {
  width: 60%;
  font-weight: bold;
  
}
#currentPlayState {
  width: 100%;
}
.row-container.fullsize-container {
  width: 100%;
  margin: 0;
}
.row-container > section {
  width: 50%;
}
.row-container > section >.row-container{
  width: 100%;
}

.floating-panel {
  margin: 0;
  padding: 10px;
  position: fixed;
  width: 600px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(calc(50vw - 300px), calc(50vh - 200px));
  background: #fff;
  box-shadow: #000 0 0 5000px;
}
.floating-panel > h3 {
  margin-bottom: 50px;
}
.floating-panel > .row-container {
  margin: auto;
  align-items: center;
  justify-content: center;
}
.floating-panel > .btns {
  margin-top: 20px;
}