body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

input[type="file"] {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* 幅を調整 */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button#sendButton { // デフォルトは押せないようにする
  background-color: #333333 !important;
  /*color: black;*/
  cursor: not-allowed;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

#console {
  display: block;
  max-width: 800px;
  width: 100%;
  height: 60px;
  margin: 10px 0;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  overflow-y: auto; /* Enable vertical scrolling */
  font-family: monospace;
  // Textarea内編集不可能にする
  resize: none;
  cursor: text;
}