:root {
  --body-width: 960px;
  --body-height: 700px;
}
body {
	font-family: 'Arial', sans-serif;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f0f0f0;
}

.container {
	width: var(--body-width);
	height: var(--body-height);
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.container::before {
	content: "";
	background: url('assets/miqs.webp') no-repeat center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.row-container {
  display: flex;

}
header {
	background: linear-gradient(90deg, rgba(58, 123, 213, 1) 0%, rgba(58, 213, 174, 1) 100%);
	padding: 10px;
	text-align: center;
	color: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px 10px 0 0;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-container .logo {
	width: 40px;
	height: 30px;
	margin-right: 10px;
}

header h1 {
	margin: 0;
	font-size: 1.2em;
}

.content-card {
	background: rgba(255, 255, 255, 0.9);
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 10px;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin: 10px 0;
}

h2 {
	font-size: 1em;
	text-align: center;
	margin-top: 15px;
}

input[type="file"] {
	display: block;
	margin: 10px auto;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 90%;
}

button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: background-color 0.3s;
}

button#sendButton {
	background-color: #1d5ea8 !important;
	cursor: not-allowed;
}

button:hover {
	opacity: 0.8;
}

textarea {
	display: block;
	max-width: 90%;
	width: 90%;
	height: 60px;
	margin: 10px auto;
	padding: 10px;
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow-y: auto;
	font-family: monospace;
	resize: none;
}

#fileSize {
	text-align: center;
}

#pianoRoll {
	display: block;
	margin: 10px auto;
	width: 90%;
	height: auto;
}

#player {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100% - 50px);
}

#tempoDisplay {
	position: absolute;
	top: 40px;
	right: 120px;
	width: 120px;
}

#control-serialport-selector:checked + #serialPortSelector {
  position: fixed;
  transition-property: top;
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
	top: calc(((100vh - var(--body-height)) / 2) + 58px);
  
}
#control-serialport-selector + #serialPortSelector {
  position: fixed;
  transition-property: top;
  transition-duration: 250ms;
  transition-delay: 0ms;
  transition-timing-function: ease-in-out;
	top: calc(-200px);
  width:  var(--body-width);
  padding: 20px 0;
  margin: auto;
}
#serialPortSelector {
	margin: 10px auto;
	text-align: center;
  background: rgb(255, 255, 255);
}
#selector-toggle-button {
  cursor: pointer;
  position: fixed;
  top:  calc(((100vh - var(--body-height)) / 2) + 80px);
  right: calc(((100vw - var(--body-width)) / 2) + 20px);
  display: flex;
  align-items: center;
}
#selector-toggle-button > span {
  display: inline-block;
  font-size: 1.2em;
}
#control-serialport-selector {
  display: none;
}
#control-serialport-selector + #serialPortSelector + #selector-toggle-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-left: 5px solid #000;
  border-bottom: 5px solid #000;
  transform-origin: center center;
  transform: rotate(-45deg) translateY(-10px);
  /* transform: translateY(0) translateX(0); */
  
  transition-property: transform;
  transition-duration: 250ms;
}
#control-serialport-selector:checked + #serialPortSelector + #selector-toggle-button::before {
  transform-origin: center;
  transform: rotate(135deg) translateY(0px) translateX(10px);
  transition-property: transform;
  transition-duration: 250ms;
}
#serialPortSelector label {
	display: block;
	margin-bottom: 10px;
	font-size: 1.2em;
}
#port-control-buttons {
  width: 60%;
  margin: auto;
}
#serialPortInput {
	padding: 10px;
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1em;
	margin-bottom: 10px;
}

#setSerialPortButton {
	background-color: #4CAF50;
	cursor: pointer;
	transition: background-color 0.3s;
}

#setSerialPortButton:hover {
	background-color: #45a049;
}

#disconnectButton {
	background-color: #f44336;
	cursor: pointer;
	transition: background-color 0.3s;
}

#disconnectButton:hover {
	background-color: #e31b0c;
}

#playerStateDisplay {
  width: 60%;
  margin: auto;

}
#playerStateDisplay > div {
  width: 60%;
  font-weight: bold;
  
}
#currentPlayState {
  width: 100%;
}